/*公共*/
@charset "utf-8";
*{word-wrap:break-word;}/*允许长单词换行到下一行*/
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0;}
ul,ol,dl{list-style-type:none;}
html,body{*position:static;}/*默认值*/
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button{overflow:visible;vertical-align:middle/*垂直对齐*/;outline:none;}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"\5B8B\4F53";font-size:12px;color:#333;background-color: #e0f0e9;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;}
body{line-height:1.6;}
h1,h2,h5{font-size:20px;color:#25a8e5;}
h3,h4,h6{font-size:15px;color:#25a8e5;}
a,area{outline:none/*无轮廓*/;blur:expression(this.onFocus=this.blur());}
a{text-decoration:none;cursor:pointer/*手*/;}
a:hover{text-decoration:underline;outline:none;}
a.ie6:hover{zoom:1;}
a:focus{outline:none;}
a:hover,a:active{outline:none;}:focus{outline:none;}
sub,sup{vertical-align:baseline;}/*默认元素放置在父元素的基线上*/
img{border:0;vertical-align:middle;}
a img,img{-ms-interpolation-mode:bicubic;}
.img-responsive{max-width:100%;height:auto;}
html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this));}
/*公共*/

.top {width: 100%; height: 25px; background-color: #057748; overflow:hidden;}
.top .login{float: left; color: #ff3; text-decoration: none; line-height: 25px; font-size: 14px; margin-left: 125px;}
.top .btn1{float: left; margin: 0 30px 0 600px; line-height: 25px; outline:none; border:none; background-color: #0aa344; padding: 0 5px; font-size: 12px; color: #fff; cursor:pointer;}
.top ul {float: left; margin-right: 20px;}
.top ul li {line-height: 25px/*line-height与父辈的height一致，可设置垂直居中*/; display: inline-block/*注意*/;}
.top ul li a {text-decoration: none; color: #fff; margin: 0 5px;}
.top ul li a:hover {text-decoration: underline; color: red; cursor: pointer/*手*/;}
		
.header {width: 100%; height: 97px; background: url(/img/head-11.jpg) repeat-x/*横向铺满*/; margin: 0 auto; clear: both;}
.header .mainnav {width: 1100px; margin: 0 auto;}
.header .mainnav .search {float: right; margin-top: 55px;}
.header .mainnav .search input.text {height: 30px !important; width: 200px; background-color: #fff;}
.header .mainnav .search input.button {height: 34px !important; width: 50px; background-color: #00bc12; border: none; font-size: 14px;}
.header .mainnav .search input.button:hover {color: #fff; background-color: #0c8918; font-size: 14px; font-weight: bold; cursor: pointer;}

.navbar {width: 803px; height: 97px; float: right; padding-left: 10px;}
.navbar .navbar-header {height: 47px;}
.navbar .navbar-content {height: 50px; line-height: 50px;}
.navbar .navbar-content .nav {font-size: 18px; z-index: 200;}
.navbar .navbar-content .nav .m {position: relative; float: left; left: 100px;}
.navbar .navbar-content .nav li a {color: #fff; padding: 0 8px; text-align: center;}
.navbar .navbar-content .nav li a:hover {background-color: #0589F7;}
.navbar .navbar-content .nav h3 {font-size: 100%; font-weight: normal;}
.navbar .navbar-content .nav h3 a {display: inline-block; font-weight: 500;}
.navbar .navbar-content .nav .sub {display: none;} 
.navbar .navbar-content .nav li:hover .sub {z-index:200; display: block; position: absolute; width: 320px; left: -5px; top: 50px/*navbar-content的height为50px*/; border: 1px solid #E6E4E3; border-top: 0; background: #353154; filter: alpha(opacity=90); -moz-opacity: .9; opacity: .9;}
.navbar .navbar-content .nav .sub .menu-show {float: right; margin: 20px 25px;}
.navbar .navbar-content .nav .sub .menu-show img {width: 120px; height: 150px; margin: 0 auto;}
.navbar .navbar-content .nav .sub .menu li {padding: 0 16px; margin-bottom: 5px; width: 100px;}
.navbar .navbar-content .nav .sub .menu li a {display: inline-block; border-bottom: 1px solid #E6E4E3; padding: 8px 0; height: 28px; width: 115px; line-height: 28px; color: #F0EBF8; font-size: 14px; font-weight: bold;}
.navbar .navbar-content .nav .sub .menu li a:hover {color: #F54844;}

.header .mainnav .logo {width: 135px; height: 100px; cursor: pointer; position: absolute;}
.header .mainnav .logo img {height: 97px;}

.mainbody{width: 1000px; margin: 0 auto; height: 960px; background-color: #fff; position: relative; top: -120px; box-shadow: 0 0 20px rgba(0,0,0,0.8);}
.mainbody .leftTop{width: 240px; height: auto; background-color: #FF6347; float: left; margin: 20px 10px 0 10px; font-family: "微软雅黑"; font-size: 20px; color: #FAFAD2; text-align: center; text-shadow: 5px 5px 5px #FF0000; padding-top: 10px; box-sizing: border-box;}
.mainbody .leftTop span{text-align: center; display: block; font-size: 14px; color: #fff; text-shadow: none;}
.mainbody .list{width: 240px; height: auto; box-sizing: border-box; border: 1px solid #e8e8e8; margin: 0 10px; float: left; clear: both;}
.mainbody .list li{width: 200px; background: url(/img/li.png) no-repeat 23px center; font-size: 18px; border-bottom: 1px solid #e8e8e8; padding: 10px; text-align: center; margin: 3px 10px; cursor: pointer;}

.mainbody .pictures{width: 700px; float: right; background-color: #399; height: auto; position: relative; top: -63px; right: 30px; box-shadow:0px 5px 3px rgba(0,0,0,0.2),0 0 40px rgba(0,0,0,0.1) inset;}
.mainbody .pictures .sticker{width: 26%; height: 20%; margin: 10% 8%;}
.mainbody .pictures .example-1 .sticker-img{background-image: url(/img/sticker-1.jpg); background-size: 180px 180px;}
.mainbody .pictures .example-2 .sticker-img{background-image: url(/img/sticker-2.jpg); background-size: 230px 180px;}
.mainbody .pictures .example-3 .sticker-img{background-image: url(/img/sticker-3.jpg); background-size: 190px 180px;}
.mainbody .pictures .example-2 .sticker-shadow{opacity: 0.6;}

.mainbody .pictures .heading{width: 300px; height: 50px; background-color: #fff; float: right; position: relative; top: -260px; right: 84px; text-align: center; line-height: 50px; font-size: 20px; border-radius: 10px; cursor: pointer;}
.mainbody .pictures .heading span{display: inline-block; width: 1px; height: 2px; background-color: transparent; position: relative; left: -40px; top: 10px;}
.mainbody .pictures .heading:hover span{transition: all 0.5s ease-out; transform: scaleX(83); background-color: #FF6347;}
.mainbody .pictures ul li{background-color: #000; height: auto; color: #fff; font-size: 14px; line-height: 2em; padding: 1em; text-indent: 2em; opacity: .8; cursor: pointer; border-radius: 4px;}
.mainbody .pictures ul li:hover{opacity: 1;}
.mainbody .pictures .more{color: #d3d3d3; font-size: 20px; margin: 0 auto; width: 20%; cursor: pointer; height: 40px; background-color: #000; text-align: center; line-height: 40px; border: 2px solid #fff; box-sizing: border-box; margin-bottom: 30px;}
.mainbody .pictures .more:hover{transition: all 1s ease-out; color: #fff; border: none;}
.foot{text-align: center; top: -40px; position: relative; width: 400px; margin: 0 auto;}
